{% extends "layout.html" %}

    {% block content %}

    <div class="container custom-container">

      <div class="row">
        <div class="column">

          <h1><span class="heading hover-underline-animation">Email Template</span> Creator</h1>
          <div class="row">
            <div class="column">
              <p>This is for email template creation duh. Download the full email template <a href="https://drive.google.com/drive/folders/1_jgxm7yNt4c3DBUQM_LPV3V8SIqS5MZ0">here</a></p>
              <p>Documentation for emails <a target="_blank" href="https://safetyculture.atlassian.net/wiki/spaces/LM/pages/2531590451/Braze+message+documentation+Email">here.</a></p>
              <p></p>
            </div>
          </div>

          <form method="post" action="/email-download">
            <div class="row">
              <div class="column">
                <label for="primary-select">Select Primary Block</label>
                <select name="component" id="primary-select">
                  <option value="">None</option>
                  <option value="{{ p1_small }}" id="p1-small">P1 SMALL</option>
                  <option value="{{ p1_wide }}" id="p1-wide">P1 WIDE</option>
                </select>
              </div>
            </div>
            
            <hr>
  
            <div class="row">
              <div class="column">
                <label for="secondary-select1">Select Secondary Block #1</label>
                <select name="component" id="secondary-select1">
                  <option value="">None</option>
                  <option value="{{ s1 }}" id="s1">S1 - SINGLE COLUMN</option>
                  <option value="{{ s2 }}" id="s2">S2 - 2-COL IMAGE LARGE</option>
                  <option value="{{ s21 }}" id="s21">S2 - 2-COL IMAGE LARGE ALTERNATING</option>
                  <option value="{{ s3 }}" id="s3">S3 - 2-COL IMAGE SMALL</option>
                  <option value="{{ s4 }}" id="s4">S4 - GENERAL CTA BOX</option>
                  <option value="{{ s5 }}" id="s5">S5 - CASE STUDY</option>
                  <option value="{{ s6 }}" id="s6">S6 - PRODUCT CARDS</option>
                  <option value="{{ s7 }}" id="s7">S7 - LOGO STRIP BLOCK</option>
              </select>
              </div>

              <div class="column">
                <label for="secondary-select2">Select Secondary Block #2</label>
                <select name="component" id="secondary-select2">
                  <option value="">None</option>
                  <option value="{{ s1 }}" id="s1">S1 - SINGLE COLUMN</option>
                  <option value="{{ s2 }}" id="s2">S2 - 2-COL IMAGE LARGE</option>
                  <option value="{{ s21 }}" id="s21">S2 - 2-COL IMAGE LARGE ALTERNATING</option>
                  <option value="{{ s3 }}" id="s3">S3 - 2-COL IMAGE SMALL</option>
                  <option value="{{ s4 }}" id="s4">S4 - GENERAL CTA BOX</option>
                  <option value="{{ s5 }}" id="s5">S5 - CASE STUDY</option>
                  <option value="{{ s6 }}" id="s6">S6 - PRODUCT CARDS</option>
                  <option value="{{ s7 }}" id="s7">S7 - LOGO STRIP BLOCK</option>
                </select>
              </div>
            </div>
  
            <hr>
  
            <div class="row">
              <div class="column">
                <label for="tertiary-select1">Select Tertiary Block #1</label>
                <select name="component" id="tertiary-select1">
                  <option value="">None</option>
                  <option value="{{ t1 }}" id="t2">T1 - SINGLE CTA MIDDLE</option>
                  <option value="{{ t2 }}" id="t2">T2 - PL TEMPLATES</option>
                  <option value="{{ t3 }}" id="t3">T2 - TRAINING COURSES</option>
                  <option value="{{ t_csrequest }}" id="t_csrequest">CS REQUEST</option>
                  <option value="{{ t_sccertified }}" id="t_sccertified">SC CERTIFIED</option>
                  <option value="{{ t_inbounddemo }}" id="t_inbounddemo">INBOUND DEMO</option>
                  <option value="{{ t_livewebinars }}" id="t_livewebinars">LIVE WEBINARS</option>
                  <option value="{{ t_integrations }}" id="t_integrations">INTEGRATIONS</option>
                  <option value="{{ t_freeseats }}" id="t_freeseats">FREE SEATS</option>
                  <option value="{{ t_sensors }}" id="t_sensors">SENSORS</option>
                  <option value="{{ t_community }}" id="t_community">COMMUNITY</option>
                </select>
              </div>
  
              <div class="column">
                <label for="tertiary-select2">Select Tertiary Block #2</label>
                <select name="component" id="tertiary-select2">
                  <option value="">None</option>
                  <option value="{{ t1 }}" id="t2">T1 - SINGLE CTA MIDDLE</option>
                  <option value="{{ t2 }}" id="t2">T2 - PL TEMPLATES</option>
                  <option value="{{ t3 }}" id="t3">T2 - TRAINING COURSES</option>
                  <option value="{{ t_csrequest }}" id="t_csrequest">CS REQUEST</option>
                  <option value="{{ t_sccertified }}" id="t_sccertified">SC CERTIFIED</option>
                  <option value="{{ t_inbounddemo }}" id="t_inbounddemo">INBOUND DEMO</option>
                  <option value="{{ t_livewebinars }}" id="t_livewebinars">LIVE WEBINARS</option>
                  <option value="{{ t_integrations }}" id="t_integrations">INTEGRATIONS</option>
                  <option value="{{ t_freeseats }}" id="t_freeseats">FREE SEATS</option>
                  <option value="{{ t_sensors }}" id="t_sensors">SENSORS</option>
                  <option value="{{ t_community }}" id="t_community">COMMUNITY</option>
                </select>
              </div>
            </div> 
  
            <hr>
  
            <div class="row">
              <div class="column">
                <input type="submit" value="Download">
              </div>
            </div>
          </form>
        </div>
        <div class="column preview-column">
          <div id="preview-pane">
            <h2 id="preview-text">Preview</h2>
            <div id="preview">
              <div class=""></div>
            </div>
          </div>
        </div>
      </div>

      <meta id="p1-small-meta" data-name="{{ url_for('static', filename='images/p1-small.png') }}">
      
  </div>

	<!-- <script src="index.js"></script> -->
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

  
  {% endblock %}