{% extends "layout.html" %}

    {% block content %}

    <div class="container custom-container">

      <div class="row">
        <div class="column">
          
          <h1><span class="heading hover-underline-animation">In-App Combo Template</span> Creator</h1>
          <div class="row">
            <div class="column">
              <p>This is for in-app template creation duh. Download the full template <a href="https://drive.google.com/drive/folders/1_jgxm7yNt4c3DBUQM_LPV3V8SIqS5MZ0">here</a></p>
              <p>Documentation for in-app messages <a target="_blank" href="https://safetyculture.atlassian.net/wiki/spaces/LM/pages/2484207621/Braze+message+documentation+In-App">here</a></p>
            </div>
          </div>

          <form method="post" action="/inapp-download">
              <!-- <h3>Primary Block</h3>
              <label><input type="checkbox" name="component" value="{{ p1_small }}" > P1 SMALL</label>
              <label><input type="checkbox" name="component" value="{{ p1_wide }}" checked> P1 WIDE</label> -->
              
              <div class="row">
                <div class="column">
                  <!-- <h3>Primary Block</h3> -->
                  <label for="primary-select">Select In-App Packages</label>
                  <label><input type="checkbox" name="top" value="{{ tt }}" >TOOLTIPS PACKAGE</label>
                  <label><input type="checkbox" name="top" value="{{ us }}" >USER SCORING PACKAGE</label>
                  <label><input type="checkbox" name="top" value="{{ swipe }}">SWIPER PACKAGE</label>
                </div>
              </div>

              <hr>

              <div  class="row">
                <div class="column">
                  <!-- <h3>Secondary Block #1</h3> -->
                  <label for="slide-select1">Select Slide #1</label>
                  <select name="slide" id="slide-select1" class="slide-select">
                    <option value="">None</option>
                    <option value="{{ w1 }}" id="w1">W1: STATIC IMAGE</option>
                    <option value="{{ w1_link_tracking }}" id="w1">W1: STATIC IMAGE LINK TRACKING</option>
                    <option value="{{ w1_tooltips }}" id="w1_tooltips">W1: STATIC IMAGE (TOOLTIPS LAUNCHER)</option>
                    <option value="{{ w1_scrolling }}" id="w1_scrolling">W1: SCROLLING STATIC IMAGE</option>
                    <option value="{{ w2 }}" id="w2">W2 INLINE VIDEO</option>
                    <option value="{{ w41 }}" id="w41">W4.1 EMBEDDED VIDEO</option>
                    <option value="{{ w42 }}" id="w42">W4.2 EMBEDDED VIDEO</option>
                    <option value="{{ w5 }}" id="w5">W5: VERTICAL SCROLLER</option>
                    <option value="{{ w61 }}" id="w61">W6.1 USER SELECT</option>
                    <option value="{{ w62 }}" id="w62">W6.2 USER SELECT CENTRALISED</option>
                    <option value="{{ w63 }}" id="w63">W6.3 USER SELECT INLINE</option>
                    <option value="{{ w64 }}" id="w64">W6.4 USER SELECT PL TEMPLATES (1-COL)</option>
                    <option value="{{ w65 }}" id="w65">W6.5 USER SELECT NO ICONS</option>
                    <option value="{{ w7 }}" id="w7">W7 QR CODE</option>
                    <option value="{{ w81 }}" id="w81">W8.1 ACCORDIAN</option>
                    <option value="{{ w83 }}" id="w83" >W8.3 CARD SCROLLER</option>
                    <option value="{{ w91 }}" id="w91">W9.1 NPS SCORE 1-10</option>
                    <option value="{{ w92 }}" id="w92">W9.2 CSAT SCORE 5-STAR</option>
                    <option value="{{ w101 }}" id="w101">W10.1 USER SCORE</option>
                    <option value="{{ w111 }}" id="w112">W11.1: MOBILE BANNER</option>
                  </select>
                </div>
                <div class="column">
                  <!-- <h3>Secondary Block #1</h3> -->
                  <label for="slide-select2">Select Slide #2</label>
                  <select name="slide" id="slide-select2" class="slide-select">
                    <option value="">None</option>
                    <option value="{{ w1 }}" id="w1">W1: STATIC IMAGE</option>
                    <option value="{{ w1_link_tracking }}" id="w1">W1: STATIC IMAGE LINK TRACKING</option>
                    <option value="{{ w1_tooltips }}" id="w1_tooltips">W1: STATIC IMAGE (TOOLTIPS LAUNCHER)</option>
                    <option value="{{ w1_scrolling }}" id="w1_scrolling">W1: SCROLLING STATIC IMAGE</option>
                    <option value="{{ w2 }}" id="w2">W2 INLINE VIDEO</option>
                    <option value="{{ w41 }}" id="w41">W4.1 EMBEDDED VIDEO</option>
                    <option value="{{ w42 }}" id="w42">W4.2 EMBEDDED VIDEO</option>
                    <option value="{{ w5 }}" id="w5">W5: VERTICAL SCROLLER</option>
                    <option value="{{ w61 }}" id="w61">W6.1 USER SELECT</option>
                    <option value="{{ w62 }}" id="w62">W6.2 USER SELECT CENTRALISED</option>
                    <option value="{{ w63 }}" id="w63">W6.3 USER SELECT INLINE</option>
                    <option value="{{ w64 }}" id="w64">W6.4 USER SELECT PL TEMPLATES (1-COL)</option>
                    <option value="{{ w65 }}" id="w65">W6.5 USER SELECT NO ICONS</option>
                    <option value="{{ w7 }}" id="w7">W7 QR CODE</option>
                    <option value="{{ w81 }}" id="w81">W8.1 ACCORDIAN</option>
                    <option value="{{ w83 }}" id="w83" >W8.3 CARD SCROLLER</option>
                    <option value="{{ w91 }}" id="w91">W9.1 NPS SCORE 1-10</option>
                    <option value="{{ w92 }}" id="w92">W9.2 CSAT SCORE 5-STAR</option>
                    <option value="{{ w101 }}" id="w101">W10.1 USER SCORE</option>
                    <option value="{{ w111 }}" id="w112">W11.1: MOBILE BANNER</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="column">
                  <!-- <h3>Secondary Block #1</h3> -->
                  <label for="slide-select3">Select Slide #3</label>
                  <select name="slide" id="slide-select3" class="slide-select">
                    <option value="">None</option>
                    <option value="{{ w1 }}" id="w1">W1: STATIC IMAGE</option>
                    <option value="{{ w1_link_tracking }}" id="w1">W1: STATIC IMAGE LINK TRACKING</option>
                    <option value="{{ w1_tooltips }}" id="w1_tooltips">W1: STATIC IMAGE (TOOLTIPS LAUNCHER)</option>
                    <option value="{{ w1_scrolling }}" id="w1_scrolling">W1: SCROLLING STATIC IMAGE</option>
                    <option value="{{ w2 }}" id="w2">W2 INLINE VIDEO</option>
                    <option value="{{ w41 }}" id="w41">W4.1 EMBEDDED VIDEO</option>
                    <option value="{{ w42 }}" id="w42">W4.2 EMBEDDED VIDEO</option>
                    <option value="{{ w5 }}" id="w5">W5: VERTICAL SCROLLER</option>
                    <option value="{{ w61 }}" id="w61">W6.1 USER SELECT</option>
                    <option value="{{ w62 }}" id="w62">W6.2 USER SELECT CENTRALISED</option>
                    <option value="{{ w63 }}" id="w63">W6.3 USER SELECT INLINE</option>
                    <option value="{{ w64 }}" id="w64">W6.4 USER SELECT PL TEMPLATES (1-COL)</option>
                    <option value="{{ w65 }}" id="w65">W6.5 USER SELECT NO ICONS</option>
                    <option value="{{ w7 }}" id="w7">W7 QR CODE</option>
                    <option value="{{ w81 }}" id="w81">W8.1 ACCORDIAN</option>
                    <option value="{{ w83 }}" id="w83" >W8.3 CARD SCROLLER</option>
                    <option value="{{ w91 }}" id="w91">W9.1 NPS SCORE 1-10</option>
                    <option value="{{ w92 }}" id="w92">W9.2 CSAT SCORE 5-STAR</option>
                    <option value="{{ w101 }}" id="w101">W10.1 USER SCORE</option>
                    <option value="{{ w111 }}" id="w112">W11.1: MOBILE BANNER</option>
                  </select>
                </div>
                <div class="column">
                  <!-- <h3>Secondary Block #1</h3> -->
                  <label for="slide-select4">Select Slide #4</label>
                  <select name="slide" id="slide-select4" class="slide-select">
                    <option value="">None</option>
                    <option value="{{ w1 }}" id="w1">W1: STATIC IMAGE</option>
                    <option value="{{ w1_link_tracking }}" id="w1">W1: STATIC IMAGE LINK TRACKING</option>
                    <option value="{{ w1_tooltips }}" id="w1_tooltips">W1: STATIC IMAGE (TOOLTIPS LAUNCHER)</option>
                    <option value="{{ w1_scrolling }}" id="w1_scrolling">W1: SCROLLING STATIC IMAGE</option>
                    <option value="{{ w2 }}" id="w2">W2 INLINE VIDEO</option>
                    <option value="{{ w41 }}" id="w41">W4.1 EMBEDDED VIDEO</option>
                    <option value="{{ w42 }}" id="w42">W4.2 EMBEDDED VIDEO</option>
                    <option value="{{ w5 }}" id="w5">W5: VERTICAL SCROLLER</option>
                    <option value="{{ w61 }}" id="w61">W6.1 USER SELECT</option>
                    <option value="{{ w62 }}" id="w62">W6.2 USER SELECT CENTRALISED</option>
                    <option value="{{ w63 }}" id="w63">W6.3 USER SELECT INLINE</option>
                    <option value="{{ w64 }}" id="w64">W6.4 USER SELECT PL TEMPLATES (1-COL)</option>
                    <option value="{{ w65 }}" id="w65">W6.5 USER SELECT NO ICONS</option>
                    <option value="{{ w7 }}" id="w7">W7 QR CODE</option>
                    <option value="{{ w81 }}" id="w81">W8.1 ACCORDIAN</option>
                    <option value="{{ w83 }}" id="w83" >W8.3 CARD SCROLLER</option>
                    <option value="{{ w91 }}" id="w91">W9.1 NPS SCORE 1-10</option>
                    <option value="{{ w92 }}" id="w92">W9.2 CSAT SCORE 5-STAR</option>
                    <option value="{{ w101 }}" id="w101">W10.1 USER SCORE</option>
                    <option value="{{ w111 }}" id="w112">W11.1: MOBILE BANNER</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="column">
                  <!-- <h3>Secondary Block #1</h3> -->
                  <label for="slide-select5">Select Slide #5</label>
                  <select name="slide" id="slide-select5" class="slide-select">
                    <option value="">None</option>
                    <option value="{{ w1 }}" id="w1">W1: STATIC IMAGE</option>
                    <option value="{{ w1_link_tracking }}" id="w1">W1: STATIC IMAGE LINK TRACKING</option>
                    <option value="{{ w1_tooltips }}" id="w1_tooltips">W1: STATIC IMAGE (TOOLTIPS LAUNCHER)</option>
                    <option value="{{ w1_scrolling }}" id="w1_scrolling">W1: SCROLLING STATIC IMAGE</option>
                    <option value="{{ w2 }}" id="w2">W2 INLINE VIDEO</option>
                    <option value="{{ w41 }}" id="w41">W4.1 EMBEDDED VIDEO</option>
                    <option value="{{ w42 }}" id="w42">W4.2 EMBEDDED VIDEO</option>
                    <option value="{{ w5 }}" id="w5">W5: VERTICAL SCROLLER</option>
                    <option value="{{ w61 }}" id="w61">W6.1 USER SELECT</option>
                    <option value="{{ w62 }}" id="w62">W6.2 USER SELECT CENTRALISED</option>
                    <option value="{{ w63 }}" id="w63">W6.3 USER SELECT INLINE</option>
                    <option value="{{ w64 }}" id="w64">W6.4 USER SELECT PL TEMPLATES (1-COL)</option>
                    <option value="{{ w65 }}" id="w65">W6.5 USER SELECT NO ICONS</option>
                    <option value="{{ w7 }}" id="w7">W7 QR CODE</option>
                    <option value="{{ w81 }}" id="w81">W8.1 ACCORDIAN</option>
                    <option value="{{ w83 }}" id="w83" >W8.3 CARD SCROLLER</option>
                    <option value="{{ w91 }}" id="w91">W9.1 NPS SCORE 1-10</option>
                    <option value="{{ w92 }}" id="w92">W9.2 CSAT SCORE 5-STAR</option>
                    <option value="{{ w101 }}" id="w101">W10.1 USER SCORE</option>
                    <option value="{{ w111 }}" id="w112">W11.1: MOBILE BANNER</option>
                  </select>
                </div>
                <div class="column">
                  <!-- <h3>Secondary Block #1</h3> -->
                  <label for="slide-select6">Select Slide #6</label>
                  <select name="slide" id="slide-select6" class="slide-select">
                    <option value="">None</option>
                    <option value="{{ w1 }}" id="w1">W1: STATIC IMAGE</option>
                    <option value="{{ w1_link_tracking }}" id="w1">W1: STATIC IMAGE LINK TRACKING</option>
                    <option value="{{ w1_tooltips }}" id="w1_tooltips">W1: STATIC IMAGE (TOOLTIPS LAUNCHER)</option>
                    <option value="{{ w1_scrolling }}" id="w1_scrolling">W1: SCROLLING STATIC IMAGE</option>
                    <option value="{{ w2 }}" id="w2">W2 INLINE VIDEO</option>
                    <option value="{{ w41 }}" id="w41">W4.1 EMBEDDED VIDEO</option>
                    <option value="{{ w42 }}" id="w42">W4.2 EMBEDDED VIDEO</option>
                    <option value="{{ w5 }}" id="w5">W5: VERTICAL SCROLLER</option>
                    <option value="{{ w61 }}" id="w61">W6.1 USER SELECT</option>
                    <option value="{{ w62 }}" id="w62">W6.2 USER SELECT CENTRALISED</option>
                    <option value="{{ w63 }}" id="w63">W6.3 USER SELECT INLINE</option>
                    <option value="{{ w64 }}" id="w64">W6.4 USER SELECT PL TEMPLATES (1-COL)</option>
                    <option value="{{ w65 }}" id="w65">W6.5 USER SELECT NO ICONS</option>
                    <option value="{{ w7 }}" id="w7">W7 QR CODE</option>
                    <option value="{{ w81 }}" id="w81">W8.1 ACCORDIAN</option>
                    <option value="{{ w83 }}" id="w83" >W8.3 CARD SCROLLER</option>
                    <option value="{{ w91 }}" id="w91">W9.1 NPS SCORE 1-10</option>
                    <option value="{{ w92 }}" id="w92">W9.2 CSAT SCORE 5-STAR</option>
                    <option value="{{ w101 }}" id="w101">W10.1 USER SCORE</option>
                    <option value="{{ w111 }}" id="w112">W11.1: MOBILE BANNER</option>
                  </select>
                </div>
              </div>

              <hr>

              <div class="row">
                <div class="column">
                  <input type="submit" value="Download">
                </div>
              </div>
          </form>
        </div>

        <div class="column preview-column">
          <div id="preview-pane">
            <h2 id="preview-text">Preview</h2>
            <div id="preview">
              <div class=""></div>
            </div>
          </div>
        </div>

      </div>

    </div>
    
    

  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  
  {% endblock %}